.turboslider {
    position: relative;
    overflow: hidden;
}

.turboslider-images {
    overflow: hidden;
}

.turboslider-slide {
    float: left;
}

.turboslider-pager {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.turboslider-pager-item {
    padding: 15px;
    margin-right: 10px;
    float: left;
    list-style: none;
    text-align: center;
    background: #c7c7c7;
}